body{
    margin: 0px !important;
    }
   
    .container-fluid div{
        height: 100px;
    }
    .header{
        background-color:orange;
        justify-content: center;
        text-align: center;
    }
    .footer{
        background-color: green;
        justify-content: center;
        text-align: center;
    }
    .display-5{
        text-align: center;
        color: black;
        font-weight: 600;
    }
    .col-6{
        text-align:center;
        justify-content: center;
        color: black;
        background-color: blue;
    }    
    .main{
        background-color: blue;
        text-align: center;
    }
    .sidebar{
        background-color: red;
        text-align: center;
        height: 100px;
    }