    .container-fluid div{
        min-height: 180px;
    }
    .header{
        background-color:#FA912F ;
        margin: auto;
    }
    .main{
        background-color:#5AC3D4 ;
        margin: auto;
    }
    .sidebar{
        background-color: #D14F71 ;
        margin: auto;
    }
    .footer{
        background-color: #49B668 ;
        margin: auto;
    }
   